<link href="public/css/extendCKeditor.css" type="text/css" rel="STYLESHEET"/>
<script src="ckeditor/plugins/uploadmanager/upload.js?v=1" type="text/javascript"></script>
<div class="photo_wrapper">
    <div class="photo_left">
        <div class="button_upload">
            <form name="upload" action="/admin/upload-file" method="POST" id="form_upload" enctype="multipart/form-data" target="upload_image">
                Upload: 
                <input type="file" id="uploadfile" name="uploadfile[]" accept="image/*"  multiple="multiple"/>
                <br/>
                <input type="text" id="image_title" name="image_title" class="titleimg" placeholder="Tiêu đề của ảnh"/>
                <br/><br/>
                <!-- <a href="javascript:void(0);" class="cssbtn-ok btnUpload">
                    <span>Tải lên</span>
                </a>
                <input type="submit" value="Upload file" > -->
                <button class="cssbtn-ok">Tải lên</button>
                <input type="hidden" name="action" value="upload" />
            </form>
            <iframe id="upload_image" name="upload_image" style="display:none"></iframe>
        </div>
        <div class="images_infor" style="display: none">
            <img src="" /><br/>
            <input type="text" id="image_title_edit" name="image_title_edit" class="titleimg" placeholder="Tiêu đề của ảnh"/>
            <br/><br/>
            <a href="javascript:void(0);" class="cssbtn-ok btnUpdate" onclick="UpdateEditImage()">
                <span>Cập nhật</span>
            </a>
            <a href="javascript:void(0);" class="cssbtn-cancel btnCancel" onclick="CancelEditImage()">
                <span>Hủy bỏ</span>
            </a>
        </div>
    </div>
    <div class="photo_right">
    	<input type="text" class="top-search" name="keyword">
    	<input type="button" value="Tìm" id="searchfile">
    	<ul class="paging photopaging"></ul>
        <div class="list_photo">
        	<ul id="photolist"></ul>
        </div>
        <ul class="paging photopaging"></ul>
    </div>
</div>

<script type="text/javascript">
	(function(){
		var loadData = function(keyword, page){
			$.ajax({
				url:'/admin/upload-file?action=search&page='+page+'&keyword='+keyword,
				type: 'GET',
				dataType: 'json',
				success: function(data){
					(list = $('#photolist')).html('');
					for (i in data){ 
						$('<li class="item'+ (i==0?' first' : '') +'" rel="'+ data[i].image_id +'">' +
	                            '<div class="img_show">'+
	                                '<img src="'+ data[i].image_src +'"/>'+
	                           '</div>'+
                               '<h3>'+data[i].image_title+'</h3>'+

	                           '<div class="img_tools">'+
	                                '<input type="checkbox"/>'+
	                                '<span class="tools_select"></span>'+
	                                '<span class="tools_edit"></span>' +
	                                '<span class="tools_delete"></span>'+
	                           '</div>'+
	                       '</li>').appendTo(list);
					};
					(paging = $('.photopaging')).html('<li>'+ (page > 2 ? page - 1 : 1) + '</li>'+
									  '<li>'+ (page > 2 ? page : 2) + '</li>'+
									  '<li>'+ (page > 2 ? page+1 : 3) + '</li>');
					$('li', paging).click(function(){
						$('li', paging).removeClass();
						$(this).addClass('current');
						loadData(keyword, parseInt($(this).html()));
					});
			}});
		};
		
		$('iframe#upload_image').ready(function(){
			loadData('', 1);
		});
		
		$('#searchfile').click(function(){
			var me = $(this);
			setTimeout(function(){
				loadData(me.parent().find('input[name="keyword"]').val().trim(), 1);
			}, 1000);
		});
		
		$('button').click(function(){
			setTimeout(function(){
				loadData('', 1);
			}, 5000);
		});
	})();
</script>