<div class="photo_wrapper">
	<div class="photo_left">
		<div class="button_upload">
		    <input type="text" id="keyword" name="keyword" class="newstitle" placeholder="Từ khóa"/>
		    <input type="button" class="search" value="Tìm" id="searchnews1"/>
		</div>
		
		<div class="list_news">
			<ul class="paging"></ul>
		    <ul id="newslist1"></ul>
		    <ul class="paging"></ul>
		</div>
	</div>

	<div class="photo_right">
        <div class="box_news_suggest1">
        	<p class="box-news-suggest-title">
				<img src="/public/images/suggest-title.png">
				Xem thêm
			</p>
			<ul></ul>
        </div>
    </div>
</div>
<script type="text/javascript">  
	(function(){
		var loadData = function(keyword, page){
			$.ajax({url:'/admin/edit-news',
				type: 'POST',
				data: 'action=search&page='+page+'&keyword='+keyword,
				dataType: 'json',
				success: function(data){
					(list = $('#newslist1')).html('');
					$(data).each(function(i, item){
						$('<li id="'+ item.news_id +'">' +
                                '<img src="'+ item.news_image +'"/>' +
                           		'<h3>' + item.news_title + '</h3>' +
	                       '</li>').click(function(){
		                       var  ul = $('.box_news_suggest1 ul');
		                       if ((li = $('#n'+ $(this).attr('id'), ul)).length < 1){
			                       $('<li style="overflow: hidden;" id="n' + item.news_id + '">' +
			                    		'<img src="' + item.news_image + '" alt="' + item.news_title + '"/>' +
			                    		'<a href="' + item.link_web + '">'+
			                    			item.news_title +
                                        '</a>' +
                                    '</li>').appendTo(ul);
		                       }else{
			                       li.remove();
		                       }
		                    }).appendTo(list);
					});
					(paging = $('.paging')).html('<li>'+ (page > 2 ? page - 1 : 1) + '</li>'+
												  '<li>'+ (page > 2 ? page : 2) + '</li>'+
												  '<li>'+ (page > 2 ? page+1 : 3) + '</li>');
					$('li', paging).click(function(){
						$('li', paging).removeClass();
						$(this).addClass('current');
						loadData(keyword, parseInt($(this).html()));
					});
				}});
		};

		loadData('', 1);
		
		$('#searchnews1').click(function(){
			var keyword = $(this).parent().find('input[id="keyword"]');
			if (keyword.val().trim() != null && keyword.val().trim().length < 6){
				keyword.css("border", "1px solid #ED7A53 !important;");
				keyword.val('');
				keyword.attr('placeholder', 'Search phải lớn hơn 6 ký tự');
				return false;
			}
			loadData(keyword.val().trim(), 1);
		});
	})();
</script>