/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}


/* 
  Equator Styles 
*/

/* Structure */
body{
    background-color: #fff;
    color: #777;
    line-height: 1.5;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-style: normal;
    font-weight: 400; 
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    text-decoration: none;  
}
.outer-container{
    max-width: 1140px;  
    margin: 0 auto;
    padding: 50px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
}
h3{
    color: #231F20;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}
p{
    margin-bottom: 20px;
}
p a:link, p a:visited{
    color: #231F20;
    font-weight: bold;
    text-decoration: none;
}
p a:hover{
    color: #ed174c;
}
strong{
    font-weight: bold;
}
/* Header & Footer */

#header{
    margin-bottom: 14px;
    text-align: center;
}
.logo{
    display: block;
    margin-bottom: 23px;
}

.cart-icon-container{
    float: right;
    position: absolute;
    top: 87px;
    right: 73px;
}
.cart-icon{
    background: url(../images/cart-icon.png) no-repeat center center;
    display: block;
    height: 48px;
    width: 48px;
}

.cart-amount {
    position:absolute;
    top:7px;
    left:20px;
    background:#DD0330;
    border-radius:50%;
    width:15px;
    height:15px;
    padding:2px;
    color:#fff;
}

.cart-amount a:link, .cart-amount a:visited {
    color:#fff;
    font-size:10px;
}

.my-account-divide {
    display:none;
}
.my-account-container{
    width:100%;
}

.my-account-mobile {
    display:none;
}

.my-account-container a{
    float: right;
    position: absolute;
    top: 15px;
    right: 45px;
    text-transform:uppercase;
    font-size:12px;
}

.my-account-container a:link, .my-account-container a:visited{
    color:#666;
}

#mobileNav{
    display: none;
}
#topNav{
    clear: both;
}
#topNav .toggle{
    display: none;
}
#topNav .active-link a, #bottomNav .active-link a, #folderNav .active-link a, #categoryNav .active-link a{
    color: #111;
}
#topNav nav li{
    display: inline;
    display: inline-block;
    float: none;
    padding: 10px 2.4423077%;
    position: relative;
    text-align: left;
    width: auto;
}
#topNav nav > li:first-of-type{
    padding-left: 0;
}
#topNav nav > li:last-of-type{
    padding-right: 0;
}
.main-nav{
    display: block;
}
#topNav nav li ul{
    background: rgba(255,255,255,.97);
    display: block;
    position: absolute;
    left: 0;
    width: 150px;
    z-index: 999;
    padding-left: 5px;
}
#topNav nav li ul li{
    display: block;
    padding: 0 10px;
}
#topNav nav li a{
    display: block;
    padding: 7.5px 0;
}
#topNav nav a:link, #topNav nav a:visited{
    color: #231f20;
}
#topNav a{
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;

}
#footer{
    background: url(../images/footer.png) no-repeat right 30px;
    clear: both;
    color: #000;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Light';
    font-style: normal;
    font-weight: 300;
    margin-top: 80px;
    text-align: center;

}
.foot-nav ul {
    margin: 0 auto 10px;
    text-align: center;

}
#bottomNav nav.foot-nav li{
    display: inline-block;
}
#bottomNav nav.foot-nav li a{
    display: inline-block;
    font-size: 0;
    height: 29px;
    margin: 0 10px;
    text-indent: -999px;
    width: 26px;
}
.foot-nav .twitter a{
    background: url(../images/social_icons.gif) no-repeat left top;
}
.foot-nav .facebook a{
    background: url(../images/social_icons.gif) no-repeat center top;  
}
.foot-nav .instagram a{
    background: url(../images/social_icons.gif) no-repeat right top;
}

footer#footer .foot-nav li a {
    display: inline-block;
    font-size: 0;
    height: 60px;
    margin: 0 10px;
    padding: 0;
    text-indent: -999px;
    width: 26px
}

footer#footer .footernav-Twitter a {
    background: url(https://static1.squarespace.com/static/ta/5487581fe4b002e813e11114/265/assets/social_icons.gif) no-repeat left top
}

footer#footer .footernav-Facebook a {
    background: url(https://static1.squarespace.com/static/ta/5487581fe4b002e813e11114/265/assets/social_icons.gif) no-repeat center top
}

footer#footer .footernav-Instagram a {
    background: url(https://static1.squarespace.com/static/ta/5487581fe4b002e813e11114/265/assets/social_icons.gif) no-repeat right top
}





#header .sub-nav{
    background: #E6E7E8;
    border-bottom: 0;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
}
.sub-nav{
    border-bottom: #231f20 1px solid;
    margin-bottom: 50px;
    padding: 10px 0 10px;
    text-align: center;
    text-transform: uppercase;  
}

.sub-nav.inner{
    background:#efefef;
    border-bottom:0;
}

.sub-nav li{
    display: inline-block;
    padding: 10px 1.5% 10px;
}
.sub-nav a:link, .sub-nav a:visited{
    color: #231F20;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
}
.sub-nav a:first-child{
    padding-left: 0;
}
.sub-nav a:hover, #topNav nav a:hover{
    color: #ed174c;
}

/* 
  Content 
*/
.banner{
    position: relative;
}
.banner img{
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}
.banner h3{
    color: #fff;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Bold'; 
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    letter-spacing: normal;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 43%;
    width: 100%;
    z-index: 999;

}


/*  Index Grid */
.coffee-label-container{
    float: left;
    margin-bottom: 60px;
    margin-right: 5.7692308%;
    width: 20.673077%;
    max-width: 215px;
}
.product-grid .coffee-label-container:nth-child(4n+4){
    margin-right: 0;
}
.coffee-label-container img{
    display: block;
    width: 100%;
}
/* Product Page */
.product-image{
    float: left;
    /*     margin-right: 5.7692308%; */
    max-width: 200px;
    margin-right: 3.1730769%;
    width: 19.230769%;
}
.product-image img{
    display: block;
    width: 100%;
    max-width: 200px;
}
.product-image p{
    color: #231F20;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;

}
.product-copy-column{
    /*     float: left; */
    margin-right: 5.7692308%;
    margin-left: 28.653846%;
    width: 32.403846%;
}
.product-copy-box{
    border-bottom: 1px solid #939598;
    color: #231F20;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-style: normal;
    font-weight: 400; 
    margin-bottom: 20px;
}  
.product-copy-box:last-of-type{
    border-bottom: 0;
}
.product-form{
    float: right;
    width: 22%;
}
.you-may-also-like{
    border-top: 1px solid #939598;
    clear: both;
    margin-top: 20px;
    margin-left: 28.653846%;
    padding-top: 10px;
}
.related-box{
    float:left;
    margin-right: 6.25%;
    margin-top: 15px;
    text-align: center;
    width: 20.215633%;
}
.related-box img{
    display: block;
    margin-bottom: 7px;
    width: 100%;
}
.related-box a:link, .related-box a:visited {
    color: #231F20;
    font-size: 13px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-style: normal;
    font-weight: 400; 
    text-decoration: none;
}
.related-box a:hover{ 
    color: #ed174c;
}
.related-box:last-child{
    margin-right: 0;
}


/*   merch specific */
.merch .related-box img, .merch .product-image img{
    border: 1px solid #E6E7E8;
}
@media screen and (max-width: 960px){
    #topNav nav li{
        padding: 10px 1.5%;
    }

}  


@media only screen and (max-width:768px) {
    #mobile-show-nav {
        background: url(https://static1.squarespace.com/static/ta/5487581fe4b002e813e11114/253/assets/hamburger.gif) center center no-repeat;
        height: 21px;
        width: 21px;
        position: absolute;
        top: 17px;
        left: 40px;
    }

    #mobile-close-nav {
        background: url(https://static1.squarespace.com/static/ta/5487581fe4b002e813e11114/253/assets/hamburger_w.gif) center center no-repeat;
        height: 21px;
        width: 21px
    }

    ul.mobile-subnav {
        padding-left: 10px !important;
        margin-bottom: 10px !important
    }

    #topNav #mobileNav ul.mobile-subnav li:not(.toggle) a {
        font-size: 1em
    }

    .sqs-layout [class*=sqs-col] {
        float: none !important;
        width: auto !important
    }

    .sqs-layout .spacer-block {
        display: none
    }

    .sqs-layout .sqs-row .sqs-block:first-child {
        padding-top: 15px !important
    }

    .sqs-layout .sqs-row .sqs-block:last-child {
        padding-bottom: 15px !important
    }

    .sqs-layout .sqs-row+.sqs-row, .sqs-layout .sqs-row+.sqs-block {
        margin-top: 0 !important
    }

    .sqs-gallery-design-grid-slide {
        width: 50% !important;
        margin: 0 0 10px 0 !important
    }

    #header {
        margin-bottom: 30px
    }

    #logo {
        width: 205px;
        margin: 0 auto
    }

    #item-total {
        display:none;
    }	



    .logo-image .logo {
        height: auto;
        margin-bottom: 1em;
        width: 100%
    }

    .header-alignment-left #topNav, .layout-style-left #topNav {
        float: right
    }

    #topNav li.toggle a {
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        font-size: 18px;
        line-height: 15px;
        display: block;
        padding-left:40px;
    }

    #topNav #siteNav li:not(.toggle) {
        display: none
    }

    #topNav #siteNav li.toggle {
        display: block
    }

    #topNav #mobileNav li:not(.toggle) a {
        line-height: 1.5em
    }
    #topNav #mobileNav:target {
        background: #323232;
        background: rgba(50, 50, 50, .95);
        overflow: visible;
        height: 100vh
    }
    #topNav #mobileNav:target {
        top: 0px;
        bottom: 0;
        left: 0px;
        right: 0;
        z-index: 10000;
        overflow: auto;
        display: block
    }

    #topNav #mobileNav:target li.toggle a#mobile-close-nav {
        color: #fff
    }



    #topNav #mobileNav li:not(.toggle) a {
        color: #fff !important
    }

    #topNav #mobileNav .mobile-subnav li:not(.toggle) a {
        padding-bottom: 5px;
        padding-top: 5px
    }

    #topNav #mobileNav li:not(.toggle) a:hover {
        color: #dc0031 !important
    }

    #topNav #mobileNav:target li.toggle a#mobile-close-nav {
        border: none
    }




    #canvas {
        padding: 50px
    }

    .show-site-info-icon #details #info-data {
        width: auto !important;
        padding: 30px
    }

    .show-site-info-icon #details #info-open, .show-site-info-icon #details #info-close {
        left: 0;
        right: auto !important
    }

    .show-site-info-icon #details #info-open a, .show-site-info-icon #details #info-close a {
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: rgba(119, 119, 119, .25)
    }

    #top {
        padding-top: 30px
    }

    .header-alignment-left #hero .page-image, .layout-style-left #hero .page-image,
    .header-alignment-center #hero .page-image, .layout-style-center #hero .page-image,
    .header-alignment-right #hero .page-image, .layout-style-right #hero .page-image {
        height: auto;
        min-height: 175px;
        max-height: 180px
    }

    .header-alignment-left #hero .page-image .wrapper, .layout-style-left #hero .page-image .wrapper,
    .header-alignment-center #hero .page-image .wrapper, .layout-style-center #hero .page-image .wrapper,
    .header-alignment-right #hero .page-image .wrapper, .layout-style-right #hero .page-image .wrapper {
        width: 100%;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 30px
    }

    .header-alignment-left #hero .page-title, .layout-style-left #hero .page-title,
    .header-alignment-center #hero .page-title, .layout-style-center #hero .page-title,
    .header-alignment-right #hero .page-title, .layout-style-right #hero .page-title {
        font-size: 18px !important;
        margin-bottom: 0 !important;
        text-align: center
    }

    .header-alignment-left #hero .page-description, .layout-style-left #hero .page-description,
    .header-alignment-center #hero .page-description, .layout-style-center #hero .page-description,
    .header-alignment-right #hero .page-description, .layout-style-right #hero .page-description {
        display: none
    }

    #page {
        margin: 30px 0
    }

    #folderNav {
        display: none
    }

    #footer {
        margin-top: 30px
    }

    #footerBlock, #socialLinks, #bottomNav {
        float: none !important;
        width: auto;
        text-align: center;
        margin-bottom: 30px
    }

    #footerBlock {
        top: auto;
        left: auto;
        margin-right: 0
    }

    #footerBlock h3 {
        font-size: 16px
    }

    #bottomNav {
        overflow: hidden
    }

    #bottomNav nav {
        width: 100%
    }

    #bottomNav nav ul {
        display: block
    }

    #bottomNav nav ul li a {
        margin: 0;
        display: block;
        padding: 0
    }

    #categoryNav nav ul {
        padding: 4px 0px
    }

    #categoryNav nav ul li a {
        padding: 4px
    }

    .page-banner-full-width #hero .page-image, .page-banner-full-width .page-divider,
    .page-banner-full-width #folderNav, .page-banner-full-width #categoryNav {
        margin-left: -30px;
        margin-right: -30px
    }

    .footer-alignment-split #footerBlock, .footer-alignment-center #footerBlock {
        width: 100%;
        float: none
    }

    .footer-alignment-split #bottomNav, .footer-alignment-center #bottomNav {
        width: 100%;
        float: none
    }

    .footer-alignment-split #bottomNav .foot-nav, .footer-alignment-center #bottomNav .foot-nav {
        float: none
    }

    .footer-alignment-split #bottomNav .foot-nav ul li, .footer-alignment-center #bottomNav .foot-nav ul li {
        float: none;
        text-align: center
    }
}


@media screen and (max-width: 640px){

    #footer{
        background-position: 51% bottom;
        background-size: 86px;
        padding-bottom: 50px;
    }
    .banner h3{
        top: 44%;
    }
    .product-grid .coffee-label-container:nth-child(4n+4){
        margin-right: 5.7692308%;
    }
    .coffee-label-container{
        margin-bottom: 20px;
        width: 29%;
    }
    .product-grid .coffee-label-container:nth-child(3n+3){
        margin-right: 0;
    }

}
@media screen and (max-width: 480px){
    .cart-icon-container{
        top: 49px;
        right: 9%;
    }
    #footer p{
        font-size: 12px;
    }
    .outer-container{
        padding: 50px;
    }


    .sub-nav a:link, .sub-nav a:visited{
        font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
        font-style: normal;
        font-weight: 400;
    }
    .product-grid .coffee-label-container:nth-child(3n+3){
        margin-right: 5.7692308%;
    }
    .product-grid .coffee-label-container{
        width: 47%;
    }
    .product-grid .coffee-label-container:nth-child(2n+2){
        margin-right: 0;
    }
    .related-box{
        margin-right: 8%;
        width: 28%;
    }
    .related-box:nth-of-type(4n){
        margin-right: 0;
    }
    .related-box:nth-of-type(4n+1){
        display: none;
    }
}

#topNav #siteNav li.toggle {
    display: none
}

#topNav #mobileNav {
    display: none;
    box-sizing: border-box;
    width: 85%;
    padding: 50px;
    position: absolute;
    top: -50px;
    left: -50px;
    right: 0;
    bottom: 100%;
    -webkit-transition: all .25s ease-in;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .97)
}

#topNav #mobileNav li {
    float: none;
    clear: both;
    display: list-item;
    width: auto;
    padding: 0
}

#topNav #mobileNav li a {
    display: block
}

#topNav #mobileNav li:not(.toggle) a {
    display: block;
    font-size: 16px;
    padding: 7.5px 0
}

#topNav #mobileNav li.toggle {
    float: left;
    padding: 0;
    width: auto;
    margin-bottom: 30px;
    margin-top: 17px
}

/* *********************************************************************************************************************
        One% CSS Grid - 12 Columns Fluid CSS Grid System

        Why One% ? Letâ€™s count ...
                we have 12 columns (magic number divided by 2, 3, 4, 6)

                for 12 columns we need 11 margins

                so if we count margin 3%, then 3% * 11 margins = 33%

                and if we count width of 1 column 5.5%, than 5.5% * 12 columns = 66%

                in the end we have 33% + 66% = 99% aaand ???

                1% is still here so that's the name - One%

        2 starting options ? Letâ€™s count a bit more ...
                1200px - perfectly fits 1280 screens
                        12 columns
                        margin 3% / 36px (full-width)
                        col1 5.5% / 66px (full-width)

                1000px - perfectly fits 1024 screens
                        12 columns
                        margin 3% / 30px (full-width)
                        col1 5.5% / 55px (full-width)
*/





/* *********************************************************************************************************************
 * Main container for all
 */
.twelve-col-container, .onepcssgrid-1200 {
    margin: 0 auto;
    padding: 0 0 0 1%; /* THAT'S THE NAME ;) */
}

.onepcssgrid-1200 {
    max-width: 1220px;
}

.twelve-col-container {
    max-width: 1040px;
}

.onerow {
    clear: both;
    padding: 0 10px;
}





/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    float: left;
    margin: 0 3% 0 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
    margin: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 71.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
    width: 100%;
    display: block;
}





/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
    .twelve-col-container {
        max-width: 1000px;
    }

    .twelve-col-container .onerow {
        padding: 0;
    }
}





/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {
    .onerow {
    }

    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
        float: none;
        width: 99%;
    }

    .onerow#table-header {
        display:none;
    }

    .grid-image {
        max-width:320px;
    }

}

body {
    /* margin-top: 20px; */
    color: #231F20;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-style: normal;
    font-weight: 400;
    font-size:13px;
}

td, p {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-size:19px;
    color:#231F20;
}

h1 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-size:16px;
    color:#231F20;
    text-transform:uppercase;
}

h2 {
    padding:0;
    margin:3px 0;
    font-size:16px;
}

a:link, a:visited {
    color:#DD0330;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}



div#cart-grid-table {
    padding:0;
}

.prodname {
    padding-left:0;
}

.grid-prod-price {
    padding:15px 0;
    color:#231f20;
}

.type-link {
}

.prod-text-container {
    text-align:center;
    margin-top:10px;
}

.prod-text-container a {
    color:#231F20;
}

.prod-grid-container.merch {
    border:1px solid #fff;
    height:330px;
}

#address-shipping, #address-billing {
    width:100%;
}

#payment-info {
    margin:0;
}

.prod-grid-container.merch:hover {
    border:1px solid #ccc;
    height:330px;
}

.prod-grid-container.merch h2, .prod-grid-container.merch.grid-prod-teaser {
    display:inline;
    margin:0;
    padding:0;
}

#topNav {
    margin-top:30px;
}

.sub-nav-mobile {
    display:none;
}

ul.sub-nav-mobile  {
    width:100%;

}
ul.sub-nav-mobile li {
    width:100%;
    padding:5px 0;
    border-bottom:1px solid #666;
    text-transform:uppercase;

}
ul.sub-nav-mobile li a {
    color:#231F20;

}

#cart-billing-table textarea {
    width:80%;
}




#account-wholesale-register {
    display:none;
}

#account-login-fields {
    float:none;
}

.clr {
    clear:both;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0;
    height: 0;

}

hr#summary-total {
    clear:both;
    padding-top:20px;
}

#cart-address-buttons {
    text-align:center;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    margin-bottom: 10px;
    padding: 10px 0;
}

.col1.small-padding,
.col2.small-padding,
.col3.small-padding,
.col4.small-padding,
.col5.small-padding,
.col6.small-padding,
.col7.small-padding,
.col8.small-padding,
.col9.small-padding,
.col10.small-padding,
.col11.small-padding,
.col12.small-padding {
    padding:3px 0;
}
#cart-grid-table .col3 {
    margin-right: 5.7692308%;
    width: 20.673077%;
    padding:0 0 40px 0;

}

.onerow {
    padding:0;
}

#cart-grid-table .col3.last {
    margin-right:0;
}
#cart-grid-table.col3 img {
    width:215px;
}

#cart-grid-table div.onerow {
    padding:0;
}

#ebeans-giftcert {
    display:none;
}

.prod-text-container {
    padding:0;
}

.prod-grid-container {
    padding:0;
    float:left;
}

.prod-grid-container img.grid-image {
    max-width:215px;
}

.prod-grid-container.right, .prod-grid-container.merch.right {
    margin-left:8%;
}



.prod-grid-container.left, .prod-grid-container.right {
    width:46%;
    text-align:center;
}

.prod-grid-container.merch.left, .prod-grid-container.merch.right {
    width:45%;
    text-align:center;
}


#ebeans_manage_club {
    padding-bottom:10px;
}

div.col12.dashboard-bottom-nav {
    width:44%;
}

/*------------SUP OVERRIDES---------------*/

.sup-label {
    font-weight:bold;
}

#ebeans-product-rating {
    text-align:center;
    margin:0 auto;
    width:100%;
}

img.ebeans-rating-stars {
    width:auto;
    margin:0 auto;
    float:none;
}

#ebeans-profile-region,
#ebeans-profile-cupping,
#ebeans-roast-scale,
#ebeans-profile-score
{
    padding:15px 0;
    border-bottom:1px solid #231F20;
}

#ebeans-crscore {
    float:none;
    border-bottom:1px solid black;
    padding:15px 0;
}

#ebeans-crscore h3{
    padding-bottom:15px;
}

#ebeans-crscore img{
    max-width:65px;
}

a.rec_details {
    color:black;
}

a:hover.rec_details {
    color:#DD0330;
    text-decoration:none;
}

#account-login-fields {
    width:100%;
}

.account-container {
    margin-top:116px;

}

.account-login-container {
    width:100%;
}

.account-layout-table {
    margin:0 auto;
    max-width:400px;
}

.account-layout-table h1{
    font-weight:bold;
    color:#DD0330;

}

.account-layout-table .account-label {
    padding:10px 0;
}

.account-layout-table input.ebeans_addr_field {
    width:96%;
}

#ebeans-profile-cupping p, #ebeans-profile-region p {
    line-height:14px;
    margin-bottom:8px;
}

#ebeans-product-sups h3 {
    padding-top:0px;
}

.reccomend-prods-cell {
    text-align:center;
    width:33%;
}

.product-description {
    padding-top:20px;
}

#ebeans-coffee-badges {
    border-bottom:1px solid #231F20;
}

img.ebeans-badge {
    width:45px;
    float:left;
    padding:5px;
}

.pagebreak {
    background:none;
    padding:10px 0 10px 0;
    border-bottom:1px solid #231F20;
    margin-bottom:20px;
}

.cart-summary {
    float:right;
    width:350px;
    font-size:16px;
}

.cart-summary-content {
    padding-bottom:15px;
}

.cart-summary-content .onerow{
    line-height:22px;
}

#cart-total-nums {
    font-size:24px;
}

#total-row, #CartTotal {
    margin-top:15px;
}

.cart-summary-label {
    float:left;
}

.row-divide {
    border-bottom:1px solid gray;
}

#cart-subtotal-nums, #cart-shipping-nums, #cart-total-nums {
    float:right;
}

#shipping-select-text {
    margin:10px 0;
    text-align:center;
    font-size:9px;
}

#shipping-row {
    padding-top:15px;
    padding-bottom:15px;
}

#cart-ship-text {
    clear:both;
    font-size:13px;
}

.table-divide {
    clear:both;
}

#ebeans-promocode, #ebeans-giftcert {
    width:100%;
    padding:0;
}

#ebeans-account-balance {

}

.cart-login-field {
    clear:both;
    max-width:100%;
}

.cart-forgot-password {
    clear:both;
    padding-top:20px;
    text-transform:uppercase;
}

.col4 img#product-detail-image {
    width:200px;
    margin:0;
}

.col4 #roast-scale-image {
    width:194px;
}

.ebeans-module-title {
    font-weight:normal;
}

.updatecart-checkout {
    text-align:right;
    width:100%;
}

.wholesale-cart-buttons {
    text-align:center;
}

.login-label {
    padding-bottom:10px;
    width:90%;
    float:left;
}

.login-radio {
    float:left;
    margin-right:10px;
}

/*.mobile-nav {
        display:none;
        padding-top:5px;
}*/

.cart-remove {
    display: block;
    margin: 0 10px 0 0;
    text-indent:0;
    width:70px;
    height:auto;
    text-align:center;	
    background:none;
    font-size:12px;
    line-height:16px;	
}

a.cart-remove {
    text-transform:uppercase;
    font-size:11px;
}

/*----BILLING SPECIFIC----*/

.zip-container, .state-container {
    width:42%;
    float:left;
}

.zip-container {
    padding-left:10px;
}

.state-container select{
}


.mobile-nav select {
    background: url(../images/select-arrow.png) no-repeat 98% center;
    border: 1px solid #d3d3d3;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    border-radius: 0;
    padding: 5px; 
    margin: 0 auto ;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 14px;
    font-family:'Courier New', Courier, monospace;
    font-size:12px;
    color:#666;
    width:200px;
    background-color:#fff;
}

#ebeans-account-balance {
    margin: 0;
    padding: 10px 0;
    float: right;
    position: relative;
    top: 0;
    display: none;
    clear: all;
}

.ebeans_button {
    width:260px;
}

.qty-box, .prodname {
    float:left;
    padding-left:10px;	
}

.qtybbox {
    padding-left:0 10px;
}

.footer-line {
    border-top:1px solid black;
}

.footer {
    text-align:center;	
    margin:0 auto 70px auto;
}

.col12.footer  {
    float:none;
    text-align:center;	
    margin:0 auto;
    width:100%;
}

.footer img{
    width:auto;
    display:inline-block;
}

.product-row {
}

#table-header-color {
    display:block;
}

.cart-form-select {
    display:inline;
    float:left;
}

.cart-image {
    max-width:100px;
}

#sidebar li {
    list-style:none;
    padding:10px 0;
}

#footer p.address {
    margin:0;
    padding:0;
    line-height:12px;
}
#footer p.address.title {
    font-weight:bold;
    text-transform: uppercase;
}

#ebeans_footer {
    width:100%;
}

input[type="button"], input[type="submit"] {
    margin:0;
    border: 1px solid #DD0330;
    color: #DD0330;
    height: 32px;
    padding: 5px 7px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-size:12px;
    text-transform:uppercase;
    font-weight: normal;
    position: relative;
    cursor: pointer;
    background: #fff;


}

form input[type="text"], form input[type="password"] {
    margin: 0 0 9px;
    height:22px;
    line-height:22px;
    padding:4px;
    border-radius:2px;
    background:#fafafa;
    border:1px solid #ccc;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-size:12px;
}

textarea {
    margin: 0 0 9px;
    background:#fafafa;
    border:1px solid #ccc;
    padding:4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Book';
    font-size:12px;
}

textarea#order-notes {
    width:100%;
    height:100px;
}


#cart-address-buttons input[type="submit"].ebeans-purchase-button {
    width:auto;
    height:32px;
    font-size:12px;
}

input[type="submit"].ebeans-purchase-button {
    margin-top:15px;

}

input[type="text"]#CustEmail, input[type="password"]#NewCustPassword, input[type="password"]#CustPassword {
    width:100%;


}

input[type="text"]#CustEmail {
    margin-bottom:20px;
}

select { 
    min-width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    background: url(https://static1.squarespace.com/static/ta/5487581fe4b002e813e11114/304/assets/selectboxarrow.gif) no-repeat right center #fafafa;
    padding: 8px;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;

}


input[type='radio'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border:1px solid #231f20;
    border-radius:50%;
    outline:none;
    box-shadow:0;
}

input[type='radio']:hover {
    box-shadow:0;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:40%;
    height:40%;
    margin: 30% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:#231f20;
}


/******* gallery overrides **********/

#thumbs.navigation {
    border:none;
}

div.image-title {
    font-family:'Courier', serif;
    font-size: 12px;
    font-weight: normal;
}

div.navigation-container {
    background:#fff;
}

.navigation.gallery {
    border:none;
}

#thumbs, div.controls {
    width:1000px;
}

ul.thumbs li {
    padding:0 20px;
}

div.slideshow-container, div.loader, div.slideshow a.advance-link {
    width:1000px;
}

/***********ADD TO CART MODAL*************/

.modal-cart-container {
    min-height:110px;
    text-align:center;
}

.modal-title {
    font-size:14px;
    font-weight:strong;
    line-height:30px;	
    border-bottom:1px solid #efefef;
    margin-bottom:10px;
    background: url(../images/cart-icon.gif) no-repeat center center;
    text-indent:-9999px;
}

.modal-cart-photo {
    display:none;
}

.modal-cart-photo img {
    display:none;
}

.modal-cart-item{
    padding:0;
}

.modal-cart-item .simple-cart-title{
}

.simple-cart-qty .qty-text {
    font-weight:strong;
    color:#231F20;
}

.modal-cart-item .simple-cart-price {
    font-size:20px;
}

.modal-cart-item .simple-cart-price, .modal-cart-item .simple-cart-qty, .modal-cart-item .simple-cart-title {
    float:none;
    font-size:14px;
}

.modal-cart-item .simple-cart-title {
    font-size:16px;
    color:#231F20;
}

.modal-cart-item .simple-cart-price {
    width:100%;
}

.modal-cart-buttons{
    margin:0 auto;
    text-align:center;
}

#modal-checkout.simple-cart-button, #modal-continue.simple-cart-button {
    width:140px;
    border: 1px solid #DD0330;
    margin-top: 15px;
    color: #DD0330;
    height: 24px;
    width: 120px;
    padding: 2px 10px 0 10px;
    text-transform:uppercase;
    font-size:12px;
    line-height:22px;
    background: #fff;
    display:inline-block;
}

#modal-checkout.simple-cart-button a, #modal-continue.simple-cart-button a{
    color:#DD0330;
    text-decoration:none;

}

#modal-checkout.simple-cart-button {
    float:right;
}

#modal-continue.simple-cart-button {
    background: #fff;
    border: 1px solid #000;
    float:left;
}

#modal-continue.simple-cart-button a{
    color:#000;
}

#modal-continue.simple-cart-button:hover {
    background: #eee;
    border: 1px solid #000;
}

#product-detail-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:360px;
}

#product-detail-image img{
    max-width:360px;
}

.ebeans-product-photos {
    padding-top:15px;
}

#ebeans-product-photos {
    text-align:center;
}

.ebeans-prod-photo-container img {
    max-width:45px;
    padding:5px;
    float:left;
}


.ebeans-thumbnail {
    max-width:70px;
}


#ibox_footer_wrapper {
    display:none;
}


.rec-prod-title {
    margin-bottom:10px;
}
.reccomend-prods-cell {
    width:30%;
    float:left;
}
.reccomend-prods-cell.left {
    padding-right:5%;
}
.reccomend-prods-cell.right {
    padding-left:5%;
}


/******** CLUB SPECIFIC ********/

.club-head-text {
    text-align:center;
    font-size:2.6em;
    color:#4f4f4f;
    line-height:30px;
    font-weight:700;
}

.club-head-subtext {
    padding:25px 0;	
    text-align:center;
    font-size:16px;
    color:#4f4f4f;
    font-weight:700;
}

.club-subscribe-container input {
    font-size:20px;
    background:#DD0330;
    color:#fff;
    padding:15px 40px;
    height:auto;
}

.club-subscribe-container input[type="text"]:disabled {
    background: #d5d5d5;
}

.col12.club-overview {
    text-align:center;
}

.club-choice-intro-subtext {
    text-align:center;
    margin:0 auto;
    color:#DD0330;
    font-size:2.2em;
    width:70%;
}
.choice-container  {
    text-align:center;
    width:100%;
    border:1px solid #DD0330;
    -webkit-border-radius:9px 9px 9px 9px;
    -moz-border-radius:9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    height:240px;
    box-shadow: 5px 5px 5px #aeaeae;
    padding-top:3%;
    color:#fff;

}
.choice-container {
    background:#DD0330 url(/ebeans/images/cup-bg.png) no-repeat center center;
}
.choice-container.gift  {

    background:#DD0330 url(/ebeans/images/gift-bg.png) no-repeat center center; 
}	

.club-choice-one-title {
    border-bottom:1px solid #fff;
    width:68%;
    margin:0 auto;
}

.choice-title-type {
    line-height:30px;
    font-size:1.4em;
}

.club-choice-one-text a{
    font-size:16px;
    color#fff;
}

.club-length-container {
    text-align:center;
    width:100%
}

.choice-container a{
    font-size:2.0em;
    color:#fff;
    font-weight:bold;
    line-height:1.1em;
}

.club-choice-one-text {
    width:73%;
    margin:0 auto;
    padding:10% 0;

}

.club-choice-one-subtext {
    margin:0 auto;
    padding:4% 0;
    text-align:center;
    font-size:1.4em;
    color:#A7A9AC;
    font-family:Gotham-Book;
}

div.col12.club-header {
    text-align:center;
    margin:20px 0;
}

.club-type-container, .club-freq-container, .club-length-container {
    text-align:center;
    display:inline-block;
}

.order-summary {
    font-size:18px;
    font-weight:bold;
}

.col12.club-subscribe, .col12.club-freq  {
    text-align:center;
}

.club-type-container.left {
    float:right;
    width:70%;
}

.club-type-container.right {
    float:left;
    width:70%;
}

.club-type-container a, .club-freq-container a, .club-length-container a {
    font-size:13px;
    padding:10px 35px;
    margin-bottom:20px;
    text-transform:uppercase;
}

.club-subscribe-container {
    text-align:center;
    margin:0 auto;
}

.club-subscribe-container a {
    width:80%;
    padding:10px 35px;
    background:#990000;
    display:block;
    text-align:center;
    margin:0 auto;	
}

.club-freq-container a {
    margin:0 20px;
}

.club-type-container p {
    margin-top:40px;
}

.club-item-container {
    width:100%;
    text-align:center;
    margin-bottom:20px;
}

.club-item-header {
    padding:15px 0 10px 0;
    font-size:2.2em;
    color:#DD0330;
}

.club-item-text {
    margin-bottom:25px;
}

a.sub-back-buttons {
    border:1px solid #DD0330;
    padding:5px 10px;
    font-size:14px;
}

img.calendar-image {
    width:auto;
    float:left;
}

.club-gift-length {
    float:left;
}

.club-type-outer .col4.first .club-type-container {
    text-align:right;
}
.club-type-outer .col4.last .club-type-container {
    text-align:left;
}

.club-checkout-text {
    margin: 0 auto;
    padding: 4% 0;
    text-align: center;
    font-size: 1.4em;
    color: #A7A9AC;
    font-family: Gotham-Book;
        width:70%;
}


.club-type-container {
    padding:8px;
    width:26%;
    vertical-align:top;
}

.club-progress-image img{
    width:auto;
    text-align:center;
    margin:0 auto;
}

.subscribe-type-images {
    text-align:center;
    margin:0 auto;
    width:94%;
    margin-bottom:20px;
}


a.sub-frequency img, a.sub-packages img, a.sub-products img{
    padding:5px;
    border:1px solid #fff;
}

.club-type-container p, .club-item-text {
    margin:0 auto;
    padding:4% 0;
    text-align:center;
    font-size:1.4em;
    color:#A7A9AC;
    font-family:Gotham-Book;
}

.subscribe-type-images a.sub-products {
    padding:0;
}

a.sub-frequency, a.sub-packages, a.sub-products, a.club-length-container {
    font-size: 14px;
    border:none;
    color:#231f20;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    width:100%;
}

a.sub-frequency.on img, a.sub-packages.on img, a.sub-products.on img {
    border:1px solid #DD0330;
    padding:5px;
}

a.sub-frequency.on, a.sub-packages.on, a.sub-products.on {
    color:#DD0330;
}

.col12.club-overview {
    padding:0px;
}

.order-summary {
    padding-bottom:10px;
}

.club-type-container:hover .subscribe-type-images img {
    border:1px solid #DD0330;
}
.club-type-container:hover a {
    color:#DD0330;
}

.club-item-container img {
    padding:6px;
    border:1px solid #fff;
}

.club-item-container:hover img {
    border:1px solid #DD0330;
}

.club-item-container:hover img {
    border:1px solid #DD0330;
}

.club-item-container:hover a {
    color:#DD0330;
}

.club-freq-container img {
    border:1px solid #fff;
    padding:5px;
}

.club-freq-container:hover img {
    border:1px solid #DD0330;
}
.club-freq-container:hover a {
    color:#DD0330;
}


.club-item-button a {
    padding:0;
}
.order-progress {
    width:100%;
    margin:0 auto;
    padding:30px 0;
}

.order-progress img {
    width:auto;
    margin:0 auto;
}

.duration-image {
    padding: 8px;
    vertical-align: top;
    display:inline-block;
}

.duration-image:hover img {
    border:1px solid #DD0330;
}

.duration-image:hover .duration-title a{
    color: #DD0330;
}

.club-length-container a{
    color:#231F20;
}

.duration-image img {
    padding:5px;
    border:1px solid #fff;
}

.club-disclaimer {
    text-align:center;
    font-size:1.8em;
    color:#DD0330;
}










@media all and (max-width: 768px) {
    .onerow {
        margin: 0 0 10px;
    }

    .club-choice-intro-subtext {
        font-size:1.4em;
    }

    .club-type-container {
        width: 100%
    }

    footer#footer {
        background-position: 51% bottom !important;
        background-size: 86px !important;
        padding-bottom: 50px;
    }

    .pagebreak {
        padding:0;
    }

    #ebeans_footer {
        margin-top:30px;
    }
    .my-account-container.full {
        display:none;
    }

    .my-account-mobile {
        display:block;
        height:40px;
        border-bottom:1px solid black;
    }

    .sub-nav {
        display:none;
    }

    .sub-nav-mobile {
        display:block;
    }

    #ebeans-promocode, .cart-summary {
        float:left;
    }

    .col4 img#product-detail-image {
        width:140px;
        margin-bottom:15px;
    }

    .cart-summary-label {
        font-size:13px;
    }
    .prod-grid-container.right {
        margin-left:0;
        margin-bottom:8%;
        margin-left:8%
    }

    .navigation ul {
        display:none;
    }

    .mobile-nav {
        display:block;
    }

    .prod-grid-container, .prod-grid-container img {
        margin:0 auto;
        text-align:center;
    }

    #name-col.col3, #ebeans-giftcert {
        clear:both;
        padding:10px 0;
    }

    #ebeans-store-landing .col3 img {
        margin:0 auto;
        text-align:center;
    }

    .prodname {
        padding-left:10px;
        font-size:20px;
    }

    .qty-container {
        width:100%;
    }

    #ebeans-giftcert {
        padding:10px 0;
    }

    .cart-summary {
        width:100%;
    }

    .cart-summary-label {
        text-align:center;
        margin:0 auto;	
    }

    #summary-total.cart-summary-label {
        width:100%;
    }

    #main_page_text {
        margin:0;
    }

    .cart-remove {
        text-align:left;	
    }

    #address-billing, #address-shipping, #payment-info {
        margin:0;
        padding:0 auto;
        line-height: 14px;
        width:100%;
        float:left;
    }
    .prod-grid-container {
        width:200px;
    }

    select.ebeans-pack-select, select.ebeans-attr-select {
        width:100%;
    }

    .qty-box {
        padding-left:0;
    }

    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
        padding:4px 0;
        margin:0;
        float:left;
    }

    #line-tot {
        display:none;
    }

    .cart-summary-label {
        text-align:left;
        margin-bottom:15px;
    }

    .prodname {
        font-size:14px;
    }

    input[type="button"].ebeans-logout-button, 
    input[type="button"].ebeans-form-button, input[type="button"].ebeans-cancel-button, input[type="button"].ebeans-calculate-button, input[type="submit"].ebeans-purchase-button, input[type="submit"].ebeans-checkout-button, input[type="submit"].ebeans_cart_button, .ebeans_button, input[type="submit"].submit_to_cart,input[type="submit"].submit_to_club, input[type="button"].go_to_cart, input[type="text"]#CustEmail, input[type="text"]#promocode, input[type="password"]#NewCustPassword, input[type="password"]#CustPassword  {
        clear:both;
        display:block;
        width:99%;
        margin:0 0 10px 0;
        padding:3px;
        -webkit-appearance: none;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;


    }
    input[type="button"].ebeans-shopping-button, input[type="button"].ebeans-savecart-button  {
        display:inline;
        width:46%;
        font-size:8px;
        padding:2px;
        -webkit-appearance: none;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;
    }

    input[type="button"].ebeans-shopping-button {
        margin-bottom:20px;
            float:left;
        -webkit-appearance: none;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;
    }

    input[type="button"].ebeans-savecart-button {
        margin-bottom:20px;
            float:right;
        -webkit-appearance: none;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;
    }

    .col3 {
    }


    .reccomend-prods-cell img {
    }

    select.ebeans-pack-select {
        clear:both;
        margin:5px 0;
    }

    #summary-total.cart-summary-label {
        width:auto;
    }

    #checkout-button.cart-summary-label {
        width:100%;
    }

    .table-divide.checkout {
        display:none;
    }

    #checkout-button.cart-summary-label {
        margin-top:20px;
    }


    /*   Fix Logo for mobile*/
    .logo{
        width: 205px;
        margin: 0 auto;
    }
    
    /*   fix cart icon placment for mobile */
    .cart-icon-container{
        top: 56px;
    }
    /*   postition hamgurger */
    #mobile-show-nav{
        top: 67px;
        left: 50px;
    }
    #topNav #mobileNav li.toggle{
        margin-top: 13px;
    }
    #topNav li.toggle a{
        padding-left: 0;
        padding-top: 0;
    }
}

@media only screen and (max-width:480px) {

    .prod-grid-container {
        text-align:center;
        margin:0 auto;
        width:200px;
    }

    .prod-grid-container.merch {
        height:auto;
    }

    .prod-grid-container img.grid-image {
        max-width:none;
        width:100%;
    }

    .club-progress-image img {
        width:280px;
    }

}

@media only screen and (max-width: 320px){

    .my-account {
        margin-top: 5px;
        padding: 0 20px 8px;
    }

    input[type='radio']:before {
        content:'';
        display:block;
        width:1%;
        height:10%;
        margin: 30% auto;    
        border-radius:50%;    
    }

    #topNav #mobileNav { 
        width: 100%; 
    }
    input[type="button"].ebeans-logout-button, 
    input[type="button"].ebeans-form-button, input[type="button"].ebeans-cancel-button, input[type="submit"].ebeans-purchase-button, input[type="submit"].ebeans-checkout-button, input[type="submit"].ebeans_cart_button, .ebeans_button, input[type="submit"].submit_to_cart,input[type="submit"].submit_to_club, input[type="button"].go_to_cart, input[type="text"]#CustEmail, input[type="text"]#promocode, input[type="password"]#NewCustPassword, input[type="password"]#CustPassword  {
        font-size:6px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;

    }
    input[type="button"].ebeans-shopping-button, input[type="button"].ebeans-savecart-button  {
        font-size:6px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;

    }

    input[type="button"].ebeans-shopping-button {
        font-size:6px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;
    }

    input[type="button"].ebeans-savecart-button {
        font-size:6px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius: 0;
    } 


}

#topNav {
    z-index: 101
}

#topNav .folder {
    -o-transition: padding 0s .2s ease;
    -moz-transition: padding 0s .2s ease;
    -webkit-transition: padding 0s .2s ease;
    transition: padding 0s .2s ease
}

#topNav .folder:hover {
    -o-transition: padding 0s 0s ease;
    -moz-transition: padding 0s 0s ease;
    -webkit-transition: padding 0s 0s ease;
    transition: padding 0s 0s ease
}

#topNav .subnav {
    position: absolute;
    top: -9999px
}

#topNav .subnav.is--overflowing-window {
    right: 0
}

#topNav .subnav ul {
    padding: 0;
    background: #fff;
    background: rgba(255, 255, 255, .85)
}

#topNav .subnav ul li {
    padding:0 10px
}

#topNav .subnav ul {
    display: block;
    width: auto;
    border: none
}

#topNav .subnav ul li {
    display: list-item;
    float: none;
    white-space: nowrap
}

#topNav .subnav ul li a {
    margin: 0;
    font-family: Gotham-Light, 'Gotham SSm A', 'Gotham SSm B';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    display: block;
    padding-right:40px;
    line-height: normal !important
}

#topNav #siteNav {
    font-size: 14px
}

#topNav #siteNav .Locations .subnav ul li:first-of-type {
    display: none
}

#topNav #mobileNav .mobile-Locations {
    display: none
}



.sqs-col-7 .sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor img {
    border: none
}

#topNav .folder:hover, #topNav .folder:focus {
    cursor: default
}

#topNav .folder:hover .subnav, #topNav .folder:active .subnav, #topNav .folder:focus .subnav {
    top: 0px;
    left: 19px;
    z-index: 1000;
    min-width: 100%
}

#hero .page-image {
    position: relative;
    min-height: 524px
}

#hero .page-image .image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.logo{
    margin-bottom: 46px;
}
#header{
    margin-bottom: 30px;
}
#topNav nav li{
    display: inline;
    margin: 0 2.6%;
    padding: 0;
}
#topNav nav li a{
    display: inline;
    padding: 10px 0;
    white-space: nowrap;
}
#topNav .folder:hover .subnav, #topNav .folder:active .subnav, #topNav .folder:focus .subnav{
    left: -15px;
    top: -20px;
    min-width: 130px;
}
#topNav .subnav ul li{
    padding: 0 15px;
    margin: 0;
}
/* REMOVE THESE STYLES!!!
#topNav .subnav ul li a{
   padding-right: 40px;  DELETE LINE
  
}
#topNav nav li ul{
  position: absolute; DELETE LINE
  top: 43px;  DELETE LINE
  left: 0;  DELETE LINE
}
*/
@media only screen and (max-width: 1040px){
    #topNav nav li{ margin: 0 2%;} 
}
@media only screen and (max-width: 960px){
    #topNav nav li{ margin: 0 1%;}  
}



/* Mobile Styles */

/* â€¢ Subnav should remain in book weight in regular and mobile views (right now itâ€™s switching to bold in mobile) */
ul.sub-nav-mobile{
    color: #231F20;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Gotham-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
}
/* - Footer in mobile view has too much space between elements. Can we compress space a bit? Spacing in regular view is perfect. */
footer#footer p {
    font-size: 13px;
    margin-bottom: 0;
}


/* â€¢ On phone (but not scaled down browser or Squarespace mobile view), buttons not using block form and text runs long. (photo) */
@media only screen and (max-width: 320px){
    #modal-checkout.simple-cart-button{
        float: none;
        margin-left: auto;
        margin-right: auto; 
    }
    #modal-continue.simple-cart-button{
        float: none;
        margin-left: auto;
        margin-right: auto;  
    }

    /*   fixes banner image text on old iphone */
    .banner h3{
        font-size: 17px;
    }

    /* â€¢ On phone, hamburger position over lays logo (photo). */
    /* SENT in TO BILL 320.CSS file */
    #canvas{
        padding: 9px 20px 50px;
    }
    .my-account {
        margin-top: 5px;
        padding: 0 20px 8px;
    }
    #topNav #mobileNav{
        width: 100%;
    }
    .logo {
        width: 180px
    }

    #mobile-show-nav{
        top: 67px;
        left: 35px;
    }
}

@media only screen and (max-width: 480px){
    .banner h3{ font-size:22px; }
}
@media only screen and (max-width: 320px){
    .banner h3{ font-size: 16px; }
}
#ibox_wrapper {
    line-height:25px;
}
#ibox_wrapper, #ibox_footer_wrapper a { background-color:#fff; }
#ibox_content { background-color:#fff; border:0; margin: 10px 10px 10px 10px; }
#ibox_footer_wrapper {
    line-height: 25px;
    bottom: 5px;
    top: auto;
}
#ibox_footer_wrapper a {
    text-indent: -100000px;
    border:0;
    background: #fff url('/ebeans/images/btn_add-to-cart-close.png') center center no-repeat;
    width: 66px;
    padding: 0;
    height: 22px;
    line-height: 22px;
}
#ibox_footer_wrapper a:hover { background-color:#fff; }
#ibox_loading {
    text-indent: -100000px;
    width: 250px;
    height: 250px;
    background: #fff url('images/loading.gif') center center no-repeat;
}