.leftbar{width:120px; float:left}
.leftbar a{padding:2px 10px; display:block; font:12px/20px Arial; border-top:#f3f3f3 1px solid}
.leftbar .head{padding:5px 10px; font:700 12px/16px Arial}

.frm{float:left; width:820px; padding:20px 0}
.frm a{text-decoration:underline}
.frm label{float:left; width:180px; margin:5px; text-align:right; font:italic 500 12px/16px Arial; color:#555}
.frm h1{font:500 22px/30px Arial; padding:10px 0} 
.frm h2{font:500 18px/30px Arial; padding:10px 0}
.frm input, .frm select, .frm textarea{border:#ddd 1px solid; margin:5px; width:250px; padding:2px}
.frm input:hover, .frm input:focus{border-color:#333} 
.frm input.btn{width:auto; background:#fff; padding:2px 10px; cursor:pointer}
.frm th{text-align:left}
.frm td .edit{ padding:2px 0 2px 25px; }
.frm li{list-style:inside square; padding-left:10px}
.frm li a{display:block; padding-left:10px; color:#666; text-decoration:none}

.grid li{float:left; width:180px; color:#555; list-style:none; padding:10px 10px 0 0}
.grid li.clear{padding:0}
.grid li a{padding:0; color:#333; font-weight:700}
.grid img{width:100%}
.grid input{width:auto}

.result li{float:left; width:100px; height:80px; border:#fff 2px solid; overflow:hidden; position:relative; list-style:none; cursor:pointer}
.result li.active{border-color:#32B40D}
.result img{width:100%}
.result .overlay{position:absolute; bottom:0; background:rgba(0, 0, 0, 0.5); width:100%; padding:5px; font-size:10px; color:#fff}

.paging{padding:5px; margin:10px 0 0 10px}
.paging a,.paging span{font:700 10px/10px Arial, sans-serif; padding:1px 3px; background:#fff; color:#222; border:#eee 1px solid; margin:1px 0 1px 5px; cursor:pointer}
.paging a:hover,.paging span, .pagination a.active{background:#222; color:#fff; border-color:#222}

.popupoverlay{position:absolute; background:#333; z-index:1100; top:0; left:0}
.popup{position:absolute; z-index:2200; background:#fff; border:#029445 6px solid; border-radius:8px; box-shadow:0 20px 20px rgba(0, 0, 0, 0.5); overflow:visible!important}
.popupsave, .popupclose{display:block; position:absolute; bottom:-30px; right:0; height:30px; width:100px; cursor:pointer; background:#029445; color:#fff; font:700 19px/30px Arial; text-align:center}
.popupsave{right:110px}

.previewItem{position:relative; float:left; width:200px; height:250px;  margin:10px;  background:url(../skin/loading.gif) #ddd 50% 50% no-repeat;}
.previewItem input{border:1px solid #ccc; margin:10px 5%; display:block; width:90%; color:#555; font:500 11px/20px Arial}
.previewItem .delete{position:absolute; top:-10px; right:-10px; height:20px; width:20px; background:url(../skin/del.png) no-repeat; float:right; cursor:pointer}
.imageHolder{width:200px; height:200px; overflow:hidden}
.imageHolder img{max-width:100%}

.progressHolder{background:#ccc; height:10px; overflow:hidden; position:relative}
.progress {height:10px; background:#ddd; position:absolute; width:0}
.previewItem.done .progress{width:100% !important}

.hide {display: none;}

