ul li {
    list-style: none;
}

body {
    font-family: arial;
}
.paging{margin:5px; display:block; height:25px;}
.paging li{cursor:pointer; float:left; padding:2px 5px!important; height:auto!important;font-weight:700}
.paging li:hover, .paging li.current{background:#000!important; color:#fff!important}
.box_news_relation ul{ margin:10px 0; display:inline-block; font-size:10px; color:#999}
.box_news_relation li{ list-style:disc inside; padding:2px; border-bottom:#999 1px dotted}
.box_news_relation a { color: #000; font-size: 15px; }

.box_news_suggest1 *{margin:0!important; padding:0!important; text-decoration:none}
.box_news_suggest1 p{text-transform:uppercase; font:700 12px/32px Arial}
.box_news_suggest1 p img{float:left}
.box_news_suggest1 { float:left; width:25%; background: transparent; }
.box_news_suggest1 ul{float:left; width:160px}
.box_news_suggest1 span{color:#f00; text-transform:uppercase; position:relative; top:-10px; left:10px; padding:0 10px; background:#fff}
.box_news_suggest1 li{padding:5px 0; margin:10px 5px; border-top:#f2f2f2 1px solid}
.box_news_suggest1 li a{display:block; margin:5px 0; text-align:center; font-size:12px!important; color:#000}
.box_news_suggest1 li img{max-width:100%; margin:0}

.box_news_suggest2 *{margin:0!important; padding:0!important; text-decoration:none}
.box_news_suggest2 p{text-transform:uppercase; font:700 12px/32px Arial}
.box_news_suggest2 p img{float:left}
.box_news_suggest2 { border-top-color:#B6D1E1; position:relative; margin:10px 0 10px; padding: 5px; background: #ccc; height: 220px; }
.box_news_suggest2 span{color:#f00; text-transform:uppercase; position:relative; top:-10px; left:10px; padding:0 10px; background:#fff}
.box_news_suggest2 ul{ height:160px }
.box_news_suggest2 li { float: left; width: 24%; height: 180px; overflow: hidden; }
.box_news_suggest2 li *{margin:5px!important}
.box_news_suggest2 li a{float:left; text-align:center; white-space:none; font-size:12px!important; color:#000}
.box_news_suggest2 li img{max-width:100%; margin:0}
.photo_wrapper {
    padding: 0;
    margin: -15px 0 0;
    width: 900px;
    height: 488px;
}

.photo_left {
    float: left;
    width: 280px;
    height: 488px;
    border-right: 1px solid #ccc;
}

.photo_left .titleimg {
    border: 1px solid #CCC;
    height: 20px;
    margin-top: 10px;
    padding: 3px;
    width: 266px;
}

.photo_left .search {
    height: 30px;
    width: 30px;
    /*background: url(/images/search.png) no-repeat;*/
    margin-left: 5px;
    margin-top: -1px;
    cursor: pointer;
}

.photo_left .newstitle {
    border: 1px solid #CCC;
    height: 20px;
    padding: 3px;
    width: 230px;
    float: left;
}

.photo_left .cssbtn-ok {
    border-radius: 3px;
    padding: 7px 13px;
    background: #69B10B;
    border-color: #62A60A #62A60A #4D9200;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #55830C;
}

.photo_left .cssbtn-ok span {
    text-shadow: 0 -1px 0 #55830C;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer
}

.photo_left .cssbtn-ok:hover {
    background: #55830C;
    cursor: pointer
}

.photo_left .cssbtn-cancel {
    -moz-border-bottom-colors: none;
    border-radius: 3px;
    margin: -2 0 0 5px;
    padding: 4px 13px;
    background: #fff;
    border: 1px solid #B6B6B6;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.photo_left .cssbtn-cancel span {
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer
}

.photo_left .cssbtn-cancel:hover {
    background: #D8D9D8;
    cursor: pointer
}

.photo_left .images_infor {
    margin-top: 12px;
}

.photo_left .images_infor img {
    width: 270px;
}

.clear {clear: both}

.photo_left .list_news { overflow: auto; height: 460px}
.photo_left .list_news{ width:260px}
.photo_left .list_news li {padding: 5px; cursor: pointer; height:50px}
.photo_left .list_news li img { height: 50px; float:left; margin-right: 10px}
.photo_left .list_news li h3 { font-weight: 700}
.photo_left .list_news li:hover { background: #81c300; color: #fff!important}

.photo_right {
    float: left;
    width: 600px;
    height: 480px;
    margin-left: 10px;
}

.photo_right .list_photo {
    height: 460px;
    overflow: auto;
    margin-top: 5px;
}

.photo_right .list_photo .item {
    float: left;
    padding: 10px;
    width: 120px;    height:172px; overflow: hidden;
    border: 1px solid #FFFFFF;
}

.photo_right .list_photo .item:hover {
    background: #d5d5d5;
    color: #73ac03 !important;
}

.photo_active {
    background: #d5d5d5 !important;
    color: #73ac03 !important;
}

.photo_right .list_photo .item .img_show {
    width: 120px;
    height: 80px;
    overflow: hidden
}

.photo_right .list_photo .item img {
    width: 120px;
}

.photo_right .list_photo .item  h3 {
    margin: 3px;    font-weight: 700;    text-align: center;    text-overflow: ellipsis;	word-wrap: break-word;	white-space: pre;
}

.photo_right .list_photo .item .img_tools {
    margin: 0 auto;
    width: 100px;
}

.photo_right .list_photo .item .img_tools a {
    margin: 5px;
    width: 15px;
    height: 15px;
    float: left
}

.photo_right .list_photo .item .img_tools a:hover {
    cursor: pointer
}

.photo_right .list_photo .item .img_tools .tools_select {
    /*background: url(../images/select.png) no-repeat;*/
}

.photo_right .list_photo .item .img_tools .tools_edit {
    /*background: url(../images/edit.png) no-repeat;*/
}

.photo_right .list_photo .item .img_tools .tools_delete {
    /*background: url(../images/del.png) no-repeat;*/
}

.photo_right .box_relation {
    margin-left: 25px;
}

.photo_right .box_relation h3 {
    font-size: 18px;
    font-weight: bold;
}

.photo_right .box_relation ul li {
    margin-left: 30px
}

.photo_right .box_relation ul li a {
    font-size: 13px;
    line-height: 22px;
}

.photo_right .box_relation ul li .tools_delete {
    /*background: url(/images/del.png) no-repeat;*/
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: left;
    margin-top: 4px;
}

.photo_right .tinnendoc1 h3 {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.photo_right .tinnendoc1 .item {
    float: left;
    padding: 10px;
    width: 178px;
    border: 1px solid #FFFFFF;
}

.photo_right .tinnendoc1 .item .img_show {
    width: 180px;
    height: 100px;
    overflow: hidden
}

.photo_right .tinnendoc1 .item img {
    width: 180px;
}

.photo_right .tinnendoc1 .item  h3 {
    margin: 3px;
    font-weight: 700;
    text-align: center;
}

.photo_right .tinnendoc_del {
    /*background: url(/images/x.png) no-repeat;*/
    width: 25px;
    height: 29px;
    display: block;
    cursor: pointer;
    margin-left: 160px;
    margin-top: -10px;
    position: absolute;
}

/*tipsy tools*/
.tipsy {
    padding: 5px;
    font-size: 13px;
    position: absolute;
    z-index: 100000;
}

.tipsy-inner {
    padding: 8px;
    background-color: black;
    color: white;
    max-width: 200px;
    text-align: center;
}

.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tipsy-arrow {
    position: absolute;
    /*background: url('/images/tipsy.gif') no-repeat top left;*/
    width: 9px;
    height: 5px;
}

.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    background-position: bottom left;
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    background-position: bottom left;
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    background-position: bottom left;
}

.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 5px;
    height: 9px;
    background-position: top right;
}

.tipsy-w .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    left: 0;
    width: 5px;
    height: 9px;
}

.videoplayer {
    text-align: center;
    border: 1px solid red;
    padding-top: 10px;
    width: 80%;
}

.videoplayer img {
    width: 50%;
}

.videoplayer p {
    font-weight: bold;
}

.clear {
    clear: both
}