<link href="public/css/extendCKeditor.css" type="text/css" rel="STYLESHEET"/>
<div class="photo_wrapper">
    <div class="photo_left">
        <div class="button_upload">
            <form name="upload" action="/admin/upload-video" method="POST" id="form_upload" enctype="multipart/form-data" target="upload_video">
                Video: 
                <input type="file" id="videofile" name="file" accept="video/mp4" />
                <br/>
                Avatar: 
                <input type="file" id="imagefile" name="avatar" accept="image/*" />
                <br/>
                
                <input type="text" id="video_name" name="video_name" class="titleimg" placeholder="Tên Video"/>
                <br/><br/>
                <!-- <a href="javascript:void(0);" class="cssbtn-ok btnUpload">
                    <span>Tải lên</span>
                </a>
                <input type="submit" value="Upload file" > -->
                <button id="uploadvideo" class="cssbtn-ok">Tải lên</button>
                <input type="hidden" name="status" value="1" />
                <input type="hidden" name="action" value="upload" />
            </form>
            <iframe id="upload_video" name="upload_video" style="display:none"></iframe>
        </div>
        <div class="images_infor" style="display: none">
            <img src="" /><br/>
            <input type="text" id="video_name_edit" name="video_name_edit" class="titleimg" placeholder="Tên Video"/>
            <br/><br/>
            <a href="javascript:void(0);" class="cssbtn-ok btnUpdate" onclick="UpdateEditImage()">
                <span>Cập nhật</span>
            </a>
            <a href="javascript:void(0);" class="cssbtn-cancel btnCancel" onclick="CancelEditImage()">
                <span>Hủy bỏ</span>
            </a>
        </div>
    </div>
    <div class="photo_right">
    	<input type="text" class="top-search" name="videokeyword">
    	<input type="button" value="Tìm" id="searchvideo">
    	<ul class="paging videopaging"></ul>
        <div class="list_photo">
        	<ul id="videolist"></ul>
        </div>
        <ul class="paging videopaging"></ul>
    </div>
</div>

<script type="text/javascript">
	(function(){
		var loadVideoData = function(keyword, page){
			$.ajax({
				url:'/admin/upload-video?action=search&page='+page+'&keyword='+keyword,
				type: 'GET',
				dataType: 'json',
				success: function(data){
					(list = $('#videolist')).html('');
					for (i in data){
						ext = data[i].video_src.replace(/.*?\./ig, '').toLowerCase();
						videoScript =   '<div id="videoplayer' + data[i].video_id + '" class="videoplayer">' +
                                            '<img src="' + data[i].video_avatar + '">' +
                                            '<p>http://media.coffeeonemore.com/public_html/video/' + data[i].video_src + '</p>' +
                                            '<h3>' + data[i].video_name + '</h3>' +
									        '</div>' +
                                        '</div>';
						$('<li class="item'+ (i==0?' first' : '') +'" rel="'+ data[i].video_id +'">' +
								'<div class="img_show">'+
	                                '<img src="'+ data[i].video_avatar +'"/>'+
	                           '</div>'+
								'<h3>'+data[i].video_name+'</h3>'+
							   '<textarea style="display:none">'+videoScript+'</textarea>' +
	                           '<div class="img_tools">'+
	                                '<input type="checkbox" />'+
	                                '<span class="tools_select"></span>'+
	                                '<span class="tools_edit"></span>' +
	                                '<span class="tools_delete"></span>'+
	                           '</div>'+
	                       '</li>').appendTo(list);
					};
					(paging = $('.videopaging')).html('<li>'+ (page > 2 ? page - 1 : 1) + '</li>'+
									  '<li>'+ (page > 2 ? page : 2) + '</li>'+
									  '<li>'+ (page > 2 ? page+1 : 3) + '</li>');
					$('li', paging).click(function(){
						$('li', paging).removeClass();
						$(this).addClass('current');
						loadVideoData(keyword, parseInt($(this).html()));
					});
			}});
		};
		
		$('iframe#upload_video').ready(function(){
			loadVideoData('', 1);
		});
		
		$('#searchvideo').click(function(){
			var me = $(this);
			setTimeout(function(){
				loadVideoData(me.parent().find('input[name="videokeyword"]').val().trim(), 1);
			}, 1000);
		});
		
		$('#uploadvideo').click(function(){
			setTimeout(function(){
				loadVideoData('', 1);
			}, 10000);
		});
	})();
</script>